nav {
    position: fixed;
    background: rgba(158, 158, 158, 0.3);
    backdrop-filter: blur(12px);
    color: black;
    font-weight: 600;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    padding-left: 12rem;
}

.navbar ul li {
    list-style-type: none;
    font-size: 12px;
    padding: 0px 5px
}